{% include 'overall_header.html' %}

<h1>{{ lang('ACP_CHEVERETO_TITLE') }}</h1>

<form id="acp_chevereto" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('GENERAL_OPTIONS') }}</legend>
		<dl>
			<dt><label for="chevereto_url">{{ lang('ACP_CHEVERETO_URL') }}</label></dt>
			<dd><input id="chevereto_url" type="text" size="40" maxlength="255" name="chevereto_url" value="{{ CHEVERETO_URL }}"></dd>
		</dl>
		<dl>
			<dt><label for="chevereto_key">{{ lang('ACP_CHEVERETO_KEY') }}</label></dt>
			<dd><input id="chevereto_key" type="text" size="40" maxlength="255" name="chevereto_key" value="{{ CHEVERETO_KEY }}"></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

{% include 'overall_footer.html' %}